.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.slide-up {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 1.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
